@media (min-width:$screen-md-min){
	// Desktop - >= 990px

	.topo{

		.faixa-branca {
			height: 136px;
			max-width: 1074px;
			margin-left: auto;
			margin-right: auto;
			z-index: 1;
			position: relative;

			&:after {
				background-image: url(../imagens/estrutural/fundo-topo.png);
				background-position: center top;
				background-repeat: no-repeat;
				content: '';
				height: 112px;
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
			}
		}

		&.index {
			.faixa-branca {
				margin-bottom: -136px;
			}
		}

		.brand {
			padding-top: 50px;
		}

		.center-top{
			display:flex;
			align-items:center;
		}
	}

	#menu{
		display:flex;
		margin-left:auto;
		margin-right:auto;
		align-items: center;
		justify-content: space-between;

		height: auto!important;

		li{
			line-height: 26px;
			padding: 5px 10px;

			&:after {
				content: '';
				background-color: $tema;
				height: 50%;
				width: 1px;
				position: absolute;
				top: 25%;
				right: -5px;
			}

			&:last-child:after {
				display: none;
			}
		}
	}

	.menu-heading{
		display: none;
	}

	.flx-desktop{
		display:flex;
	}

	.col-md-20p {
		float: left;
		width: 20%;
	}

	.form-depoimentos label,
	.lista-depoimentos .depoimento label {
		text-align: right;
	}

}