@media (min-width: $screen-sm-min) and (max-width:$screen-sm-max){
	// Teblet -   > 768; < 992

	.topo {
	}

	.menu{
		border-top: 1px solid $tema;
	}

	#menu{
		display:flex;
		margin-left:auto;
		margin-right:auto;
		align-items: center;
		justify-content: space-between;

		height: auto!important;

		li{
			line-height: 26px;
			padding: 5px 0;
		}
	}

	.menu-heading{
		display: none;
	}

	.sm-mgt-50{
		margin-top:50px;
	}

	.form-depoimentos label,
	.lista-depoimentos .depoimento label {
		text-align: right;
	}
}