@media (max-width:$screen-xs-max){
	// Celphones - < 768

	.topo{
		text-align:center;

		.brand a {
			display: inline-block;
			margin: 15px 0;
		}

		.area-contato {
			flex-direction: column;

			span, .btn {
				margin: 15px;
			}
		}
	}

	.brand,
	.buscas{
		margin-bottom:20px;
	}

	#menu{

		li {
			line-height: 40px;
		}

		li:hover{
			a{
				color:#FFF !important;
				background: #232427;
			}
		}
	}

	.menu-heading {
		@include clearfix;
	}

	.btn-mobile {
		background-color: transparent;
		border: 1px solid $tema;
		border-radius: 0;
		color: $tema;
		float: right;

		&:hover,
		&:active {
			background-color: $tema;
			color: #FFF;
		}
	}

	.chamadas-topo{
		margin-top:30px;

		.col-md-4 + .col-md-4{
			&:before{
				content:'';
				display:block;
				border:1px solid #A0A0A0;
				margin-bottom:20px;
				width:70%;
				margin-left:auto;
				margin-right:auto;
			}
		}
	}
}