block active
	-var active = 'home'
//-block active
// ATENÇÃO PARA A CLASSE .index APENAS NA HOME
header(class=active=='home' ? 'topo index' : 'topo')
	.faixa-branca
		.row.center-top
			figure.col-md-4.brand.col-sm-4.text-center
				// LOGO :-------------------
				a(href="index.html")
					img(src="imagens/estrutural/logo.png",alt="Logo Sigma").img-responsive
			// /.col-md-4
			.col-md-8.col-sm-8
				.area-contato
					span
						i.icone.telefone
						| (19) 3844 4228
					a(href="#").btn.btn-custom.noround ÁREA DO COLABORADOR

				.menu-heading
					button(type="button",data-toggle="collapse",data-target="#menu").btn.btn-mobile #[i.fa.fa-bars] MENU
				nav.menu
					ul#menu.collapse
						li(class=active=='home' ? 'active' : ''): a(href="index.html") HOME
						li(class=active=='sobre' ? 'active' : ''): a(href="sobre-nos.html") SIGMA SAÚDE
						li(class=active=='servicos' ? 'active' : ''): a(href="servicos.html") NOSSOS SERVIÇOS
						li(class=active=='contato' ? 'active' : ''): a(href="fale-conosco.html") FALE CONOSCO
						li(class=active=='unidades' ? 'active' : ''): a(href="unidades.html") UNIDADES
				// /nav.menu

			// /.col-md-8
		// /.row
// /header.topo