doctype html
html(lang="pt-br")
	head
		block title
			title Documento

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="theme-color",content="#BB3437")

		link(rel="stylesheet", type="text/css", href="styles/estilos.min.css")
		link(rel="shortcut icon" type="image/x-icon" href="imagens/estrutural/favicon.ico")

		include mixins.pug

	body
		noscript
			.alert.alert-warning.text-center
				p Seu navegador está com os scripts desabilitados!
				p Para melhor funcionamento do site, habilite-os.

		.wrapper

			include header.pug
			block conteudo

		// /.wrapper
		include footer.pug

		script(src="js/starter.js")
		script(src="js/lightbox.min.js")
		script(src="js/scripts.min.js")
		//
			[if lt IE 9]>
				<script>
					(function message_IE(){
						var msg = '<div id="msg-ie" class="msg-ie">'+
							'<div class="alert-danger alert text-center">'+
								'<button onclick="remover(\'#msg-ie\')" class="close"><i class="fa fa-times"></i></button>'+
								'<h1>ATEN&Ccedil;&Atilde;O!!</h1>'+
								'<p>O seu navegador est&aacute; desatualizado, para melhor funcionamento do site clique <a href="#" class="alert-link">aqui</a> para atulizar! Ou instale o <a href="#" class="alert-link">Google Chrome</a></p>'+
							'</div>'+
						'</div>';

						$('noscript').after(msg);
						$('body').addClass('ie');
					}());
				</script>
			<![endif]