#banner{
	.carousel-inner{
		z-index:0;
	}

	.ctrls{
		position:absolute;
		width:100%;
		height:100%;
		display:flex;
		align-items: center;
		justify-content:center;
		top:0;

		a{
			opacity: .7;
			z-index:4;

			&:hover {
				opacity: 1;
			}
		}

		.clearfix{
			width:1000px;
			text-align: center;
			position:relative;
			padding-bottom:45px;
		}
	}
}

.section-header {
	margin-bottom: 17px;

	h2, h3 {
		color: $tema;
		font-family: 'josefin_sansbold', sans-serif;
		font-size: 35px;
	}
}

.area-bem-vindo {
	padding-bottom: 30px;
	padding-top: 20px;

	.section-header h2 {
		font-size: 45px;
	}
}

div.chamada {
	text-align: justify;

	p {
		font-family: 'open_sansregular', 'Open Sans', sans-serif;
		font-size: 14px;
		line-height: 120%;
	}
}

.area-sobre {
	a.saiba-mais,
	p,
	.section-header h3 {
		color: #202020;
		margin-top: 0;
	}

	.section-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 10px;
		margin-top: 15px;

		h2 {
			padding-right: 2%;
			white-space: nowrap;
		}

		&:after {
			content: '';
			background-color: $tema;
			height: 5px;
			width: 100%;
		}
	}
	h2 {
		font-size: 35px;
	}

	.chamada p {
		font-size: 15px;
		line-height: 120%;
		margin-bottom: 35px;
		text-align: justify;
	}

}

.area-servicos {
	background-color: $tema;
	background-image: url(../imagens/estrutural/fundo-area-servicos.jpg);
	background-position: center top;
	color: #FFF;

	header {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 10px;
		margin-top: 15px;

		h2 {
			font-size: 25px;
			padding: 0 2%;
			white-space: nowrap;
		}

		&:before,
		&:after {
			content: '';
			background-color: #FFF;
			height: 1px;
			width: 100%;
		}
	}
}

.carousel-servicos{
	margin:40px 0 20px 0;

	.owl-item{
		padding:0 15px;
	}


	.owl-nav {
		margin-top: 10px;
		text-align: center;
	}

	.owl-prev,
	.owl-next{
		display: inline-block;
		padding: 8px;
		cursor: pointer;
	}

	a:hover{
		color: #FFF;
		figcaption{
			opacity:1;
		}
	}
}

.carousel-servicos .item {
	font-family: 'open_sansregular', sans-serif;
	font-size:15px;

	.btn {
		border-radius: 0;
		margin-top: 15px;
		width: 224px;
	}

	.foto {
		height: 338px;
		margin-bottom: 20px;
		position:relative;
		width: 338px;
	}

	@media (min-width: 992px) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.info {
			order: 1;
			max-width: 60%;
		}
		.foto{
			order: 2;
			margin-bottom: 0;
		}
	}

	lazyimage{
		position:absolute;
		width:100%;
		height:100%;
		border-radius: 8px;
		box-shadow: 10px 5px 0 #039CD4;
		overflow:hidden;
		display:flex;
		align-items:center;
		justify-content:center;
		background: url(#{$imgs}/loading.svg) center center no-repeat;

	}

	.desc {
		font-size: 15px;
		line-height: 1.2;
		margin-bottom: 10px;
	}

	h3 {
		border-left: 4px solid #fff;
		font-family: 'josefin_sansbold', sans-serif;
		font-size: 25px;
		text-transform: uppercase;
		padding-left: 10px;
		margin-top: 0;
		margin-bottom: 35px;
	}
}

.lista-servicos {
	padding-top: 30px;

	.servico {
		margin: 20px auto;
		max-width: 300px;

		> a {
			text-decoration: none;

			.btn {
				opacity: 0;
				border-radius: 0;
			}

			&:hover .btn {
				opacity: 1;
			}
		}

		.nome {
			color: $tema;
			font-family: 'josefin_sansbold', sans-serif;
			font-size: 20px;
			line-height: 36px;
		}

		.desc {
			height: 78px;
			text-align: justify;
			overflow: hidden;
		}
	}
}

.area-servicos, .area-depoimentos {
	@include clearfix;
}

.area-depoimentos {
	background-image: url(../imagens/estrutural/fundo-area-depoimentos.png);
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	min-height: 349px;

	header {
		margin-bottom: 20px;
		margin-top: 50px;
		position: relative;

		h2 {
			color: $tema;
			letter-spacing: -0.5px;
			font-family: 'josefin_sansbold', sans-serif;
			font-size: 25px;
		}
	}
}
.carousel-depoimentos {

	background-color: $tema;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,.5);

	.item{
		margin-left:auto;
		margin-right:auto;
		text-align: center;

		h3 {
			color: #FFF;
			font-family: 'josefin_sansregular', sans-serif;
			font-size: 16px;
		}
	}

	.depoimento{
		color: #FFF;
		height: 85px;
		font-family: 'open_sansregular', sans-serif;
		font-size: 15px;
		line-height: 128%;
		margin-left: auto;
		margin-right: auto;
		padding: 10px 10%;
		position: relative;
		overflow: hidden;
	}
	.owl-nav {
		padding-bottom: 15px;
		margin-top: 5px;
		text-align: center;
	}

	.owl-prev,
	.owl-next{
		display: inline-block;
		padding: 5px;
		cursor: pointer;
	}
}
.carousel-unidades {

	.owl-nav {
		padding-bottom: 15px;
		margin-top: 5px;
		text-align: center;
	}

	.owl-prev,
	.owl-next{
		color: $tema;
		display: inline-block;
		padding: 5px;
		cursor: pointer;
		font-size: 25px;
	}
}

.mgl-15{
	margin-left:15px;
}

#alerta{
	text-align:center;

	.modal-dialog{
		max-width: 370px;
	}

	.close-alerta{
		border:none;
		padding:none;
		background: none;
		outline:none;
		font-weight:bold;
		font-size:30px;

		.icon{
			display: block;
			margin-left:auto;
			margin-right:auto;
			margin-bottom:10px;
		}
	}
}

.border-left-grey{
	border-left:1px solid #ccc;
}


.painel{
	border:1px solid #CCC;

	.heading-painel{
		color:#FFF;
		background: $orange;
		padding:10px 15px;
	}

	.heading-painel,
	.body-painel{
		padding: 15px;
	}
}

.messages{
	position:fixed;
	top:0px;
	right:0px;
	padding:10px;
	max-width:100%;
	z-index:999;

	.alert{
		display: none;
		border-radius:0;
		padding:5px 10px;
		box-shadow:0 0 8px rgba(0,0,0,0.85);

		&.active{
			display: block;
		}

		&.alert-danger{
			background: #E53935;
			border-color: #E53935;
			color:#FFF;
		}

		&.alert-success{
			background: #4CAF50;
			border-color: #4CAF50;
			color:#FFF;
		}

		&.alert-warning{
			background: #FFC107;
			border-color: #FFC107;
			color: #000;
		}
	}
}

.lista-depoimentos .depoimento {
	border-bottom: 1px solid #FFF;
	font-size: 16px;
	margin-bottom: 20px;

	label {
		display: block;
	}
}

.internas .page-text {
	img {
		display: inline-block;
		height: auto;
		max-width: 100%;
	}

	h2, h3 {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #393939;
		font-size: 18px;
		margin-bottom: 15px;
		white-space: nowrap;

		&:after {
			display: inline-block;
			height: 1px;
			content: '';
			margin: 0 10px;
			width: 100%;
			background-color: #BB3437;
		}
	}

	p {
		font-size: 15px;
	}
}
.panel-transparent {
	&, .panel-body {
		background-color: transparent;
		border: none;
		box-shadow: none;
	}

	.panel-heading {
		background-color: $tema;
		border-radius: 5px;
		color: #FFF;
		> a {
			color: #FFF;
			font-family: 'exo_2regular', sans-serif;
			display: block;

			.fa {
				float: right;
			}
			.fa-toggle-down {
				display: none;
			}

			&.collapsed {
				.fa-toggle-up {
					display: none;
				}
				.fa-toggle-down {
					display: inline-block;
				}
			}
		}

		@media (min-width: 992px) {
			width: 50%;
		}
	}
}

.form-contato {
	background-color: #5585D5;
	border-radius: 5px;
	padding: 10px;

	h3 {
		color: #FFF;
		font-size: 16px;
		margin-top: 0;
	}

	.form-group {
		margin-bottom: 5px;
	}

	.form-control {
		border-color: #fff;
		font-size: 12px;
	}

	.btn {
		background-color: transparent;
		border: none;
		font-size: 16px;
	}
}