.paginacao{
	display: flex;
	justify-content: center;
	margin-top:20px;
	margin-bottom:30px;

	> *{
		color: #333;
		display: inline-block;
		border:1px solid rgba(#000,0.2);
		padding:6px 12px;
		background:#fff;
		margin-left: -1px;

		&:first-child{
			border-top-left-radius:4px;
			border-bottom-left-radius:4px;
			margin-left: 0;
		}

		&:last-child{
			border-top-right-radius:4px;
			border-bottom-right-radius:4px;
		}
	}

	.active,
	*:hover{
		$color-default:#fff;
		border-color: #FFF;
		text-decoration:none;
		background: $tema;
		color: $color-default;
	}
}
