$icons: (
    'telefone': 0 -44px 21px 21px,
    'banner-prev': 0px 0 44px 44px,
    'banner-next': -44px 0 44px 44px,
    'servico-prev': -88px 0 33px 36px,
    'servico-next': -122px 0px 46px 36px,
    'endereco': -21px -44px 20px 24px,
    'telefone-rodape': -41px -44px 21px 19px,
    'email': -62px -44px 19px 14px,
    'gv8': -81px -44px 66px 21px,
    'medico': -168px 0px 30px 36px,
);

.icone{
    display:inline-block;
    background-image: url(#{$imgs}/sprites.png);
    background-repeat:no-repeat;
    vertical-align: middle;
}

@mixin sprites($icons) {
    @each $icon,$data in $icons{
        .icone.#{$icon}{
            width: nth($data,3);
            height: nth($data,4);
            background-position: #{nth($data,1)} #{nth($data,2)};
        }
    }
}

@include sprites($icons);