.wrapper{
	background-image: url(../imagens/estrutural/fundo-corpo.jpg);
	background-position: center top;
	min-height:100vh;
}

html{
	overflow-x:hidden;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1000px;
	}
}
.internas.page-contato {
	padding-bottom: 20px;
}