.topo {

	.faixa-branca {
		background-color: #fff;
		padding: 0 40px 8px 40px;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		z-index: 1;
	}

	.area-contato {
		color: #2857A4;
		font-family: 'josefin_sansbold', sans-serif;
		font-size: 15px;
		padding: 0 0 25px 0;
		display: flex;
		justify-content: flex-end;

		span, .btn {
			border-radius: 0;
			display: inline-block;
			margin: 0 15px;
		}

		.icone {
			margin-right: 5px;
		}
	}
}


#menu{
	list-style:none;
	padding-left:0;
	margin-bottom:0;
	@include clearfix;

	li {
		padding: 0 10px;
		position: relative;
	}
	a{
		display: block;
		font-family: 'josefin_sansregular', sans-serif;
		font-size: 15px;
		color:#1E3F77;
		position: relative;

	}

	li{
		&.active,
		&:hover{
			a{
				color:$tema;
				font-family: 'josefin_sansbold', sans-serif;
				text-decoration:none;
			}
		}
	}
}

.chamadas-topo{
	.icon{
		float:left;
		margin-right:15px;
		margin-bottom:15px;
	}

	.title{
		font-weight:bold;
		margin-bottom:0;
	}
}