extend common/template.pug

block title
	title Sigma Saúde

block active
	-var active = 'contato'
//-block active

block conteudo
	// CONTEUDO
	div.internas.page-contato
		.container-big
			.mapa-google#mapa-45
				script.
					window.onload = function(){
						document.getElementById('mapa-45').innerHTML = '<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>';
					}
		.container
			.row
				.col-sm-6.mgb-30
					form.form-contato.pd15
						h3 NÓS ESTAMOS AQUI POR VOCÊ
						+campo('text','nome','Nome:')
						+campo('email','email','E-mail:')
						+campo('tel','telefone','Telefone: ( )')
						+campo('text','assunto','Assunto:')
						+textarea(7,'mensagem','Mensagem:')
						.form-group
							button.btn.btn-custom ENVIAR
				//- .col-sm-6.mgb-30
				.col-sm-6.mgb-30
					.pd15.text-justify
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eos magnam expedita nesciunt libero, cumque vel quia a. Neque culpa iste pariatur, voluptate vel incidunt, laboriosam quis iusto molestias deserunt delectus necessitatibus consequatur, nostrum alias commodi nihil quia error distinctio omnis rem minus, sunt fuga! Magnam asperiores, delectus numquam sapiente.

				//- .col-sm-6.mgb-30
			//- .row
	// /div.internas