extend common/template.pug

block title
	title Sigma Saúde

block conteudo
	// CONTEUDO
	div.index
		// BANNER
		section.carousel#banner(data-interval="5000").slide
			.ctrls
				.clearfix
					a(href="#banner",data-carousel="prev").pull-left: i.icone.banner-prev
					a(href="#banner",data-carousel="next").pull-right: i.icone.banner-next
			.carousel-inner
				-for(var b=0;b<4;b++)
					if b % 2 == 0
						-var banner = 'imagens/banners/banner-1.jpg'
					else
						-var banner = 'imagens/banners/banner-2.jpg'
					// repete
					figure.item(class=b==0?'active' : '')
						a(href="#")
							if(b==0)
								img(src=banner,alt="nome/descricao",class="img-responsive")
							else
								lazyimage(data-src=banner,data-alt="nome/descricao",data-class="img-responsive")
					// fim repete
			// /.carousel-inner
		// /section.carousel#banner(data-interval="5000")

		section.area-bem-vindo
			.container
				header.section-header
					h2.text-center Bem - Vindo à SIGMA
				div.chamada.text-center
					p A SIGMA oferece soluções para as coberturas de férias, faltas e afastamentos, com vantagens econômicas e total conformidade jurídica que aliada a experiência do GRUPO SANSIM presta serviços com altos niveis de satisfação.

		// fim da área-bem-vindo

		section.area-servicos
			header
				h2.text-center NOSSOS SERVIÇOS
			.container
				.owl-carousel#servicos.carousel-servicos
					-for(var c=0;c<4;c++)
						// repete
						.item
							figure.foto
								lazyimage(data-src="imagens/conteudo/servico-1.jpg",data-alt="imagem do serviço",data-class="img-responsive")
							.info
								h3 MEDICINA DE URGÊNCIA E EMERGÊNCIA
								// /figure.foto
								.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
								a(href="servicos-detalhes.html").btn.btn-white CLIQUE E SAIBA MAIS
						// fim repete item
				// /.owl-carousel#servicos
		// fim da area-servicos

		section.area-sobre
			.container
				header.section-header
					h2 Sobre Nós
				.row
					.col-md-6
						div.chamada.text-center
							p Uma das maiores necessidades das prefeituras e serviços públicos é a substituição de profissionais da área de saúde, em especial nas áreas de urgência e emergência, em Pronto Atendimento e Pronto Socorros. Desta história de sucesso surgiu a SIGMA SERVIÇOS EM SAÚDE LTDA, uma empresa que já nasce forte e experiente, pois além de focada em seu segmento de atuação, traz em sua composição profissionais com larga experiência e atuação na área e a mesma qualidade, eficiência e gestão de custos que caracteriza os serviços SANSIM.
					.col-md-6.text-center
						figure
							img(src="imagens/estrutural/imagem-sobre.png",alt="Sigma Saúde").img-responsive

		// fim da área-sobre

		section.area-depoimentos
			.container
				.row
					.col-md-8.col-md-offset-4
						header
							h2.text-center O QUE NOSSOS CLIENTES DIZEM SOBRE NÓS

						.owl-carousel#depoimentos.carousel-depoimentos
							-for(var c=0;c<3;c++)
								// repete
								.item
									.depoimento
										| Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 	.
									h3 Nome do Cliente/Empresa
								// fim repete
						// /.owl-carousel#depoimentos
		// fim da area-depoimentos

	// /main.index