extend common/template.pug

block title
	title Sigma Saúde

block active
	-var active = 'servicos'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 NOSSOS SERVIÇOS
		///-.page-header
		.container

			.row
				article.col-sm-4.mgb-30
					figure.mgb-15
						a(href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&text=placeholder+image",data-lightbox="image-1",title="nome/descricao")
							img(src="http://dummyimage.com/500x500/33B3B1/fff.gif&text=placeholder+image", alt="noe/descricao").img-responsive
					.album
						-for(var x=0;x<4;x++)
							figure
								a(href="http://dummyimage.com/1000x1000/33B3B1/fff.gif&text=placeholder+image",data-lightbox="image-1",title="nome/descricao")
									img(src="http://dummyimage.com/60x60/33B3B1/fff.gif&text=placeholder+image", alt="noe/descricao").img-responsive
				article.col-sm-8.mgb-30
					h1.title-internas #[i.icone.medico] Nome do Serviço
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi tempore ipsum laudantium excepturi. Quod voluptatem, minus ducimus veritatis soluta nostrum eaque maiores ipsum sed deleniti perferendis quam aspernatur a, dicta commodi. Numquam et magnam dignissimos ipsum rem sunt dicta excepturi fuga perspiciatis vero eveniet qui, modi laudantium illo sed harum unde quos quod, doloribus iure non. Sequi recusandae facilis asperiores, nulla suscipit iste eaque repudiandae reiciendis ipsa, laudantium delectus officia quisquam assumenda, molestiae aperiam quam reprehenderit? Amet maxime, incidunt adipisci.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi tempore ipsum laudantium excepturi. Quod voluptatem, minus ducimus veritatis soluta nostrum eaque maiores ipsum sed deleniti perferendis quam aspernatur a, dicta commodi. Numquam et magnam dignissimos ipsum rem sunt dicta excepturi fuga perspiciatis vero eveniet qui, modi laudantium illo sed harum unde quos quod, doloribus iure non. Sequi recusandae facilis asperiores, nulla suscipit iste eaque repudiandae reiciendis ipsa, laudantium delectus officia quisquam assumenda, molestiae aperiam quam reprehenderit? Amet maxime, incidunt adipisci.

					footer.text-right.mgt-20
						a(href="servicos.html").btn.btn-outline-red.noround.btn-voltar VOLTAR
			//- .row
		// /.container
	// /div.internas