extend common/template.pug

block title
	title Sigma Saúde

block active
	-var active = 'servicos'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 NOSSOS SERVIÇOS
		///-.page-header
		.container

			.lista-servicos.row
				-for(var x=0;x<6;x++)
					.col-sm-4
						article.servico
							a(href="servicos-detalhes.html")
								.nome #[i.icone.medico] Nome do Serviço
								.desc Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um...
								span.btn.btn-custom.btn-block VER DETALHES
			// /.row
			+paginacao
		// /.container
	// /div.internas