extend common/template.pug

block title
	title Sigma Saúde

block active
	-var active = 'unidades'
//-block active

block conteudo
	// CONTEUDO
	div.internas
		header.page-header
			h1 UNIDADES
		///-.page-header
		.container

			.owl-carousel#unidades.carousel-unidades
				-for(var c=0;c<3;c++)
					.item
						.item-unidade.mgb-20
							h4.open Paulínia- SP (Matriz)
							p Av.Dr Heitor Nascimento, 196 –Bl A –SL.12
							p Centro – CEP: 13.140-970
							p Fone: (19)3844-4228

						.mapa-google.mapa-unidade
							iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14701.670031991538!2d-49.6248181!3d-22.897966450000002!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-BR!2sbr!4v1451912678972",width="600",height="450",frameborder="0")

		// /.container
	// /div.internas
